name: PHPUnit Tests

on: [push]

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        php_ver:
          - "7.4"
          - "8.0"
          - "8.1"
          - "8.2"
          - "8.3"
        wp_ver:
          - "latest"
        wc_ver:
          - "latest"
          - "9.0.0"
          - "8.0.0"
        exclude:
          # Only test oldest WC with oldest PHP
          - php_ver: "8.0"
            wc_ver: "8.0.0"
          - php_ver: "8.1"
            wc_ver: "8.0.0"
          - php_ver: "8.2"
            wc_ver: "8.0.0"
          - php_ver: "8.3"
            wc_ver: "8.0.0"

    runs-on: ubuntu-latest

    steps:
      - name: Checkout the files
        uses: actions/checkout@v4

      - name: Setup PHP with tools
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php_ver }}
          tools: phpunit
          coverage: none

      - name: Cache Composer dependencies
        uses: actions/cache@v4
        with:
          path: /tmp/composer-cache
          key: ${{ runner.os }}-php${{ matrix.php_ver }}-${{ hashFiles('**/composer.lock') }}

      - name: Install dependencies
        uses: php-actions/composer@v6
        with:
          php_version: ${{ matrix.php_ver }}
          version: 2

      - name: Start MySQL
        run: sudo /etc/init.d/mysql start

      - name: Run install-wp-tests.sh
        run: ./vendor/bin/install-wp-tests.sh wordpress_test root root localhost ${{ matrix.wp_ver }}

      - name: Run install-woocommerce.sh
        run: sudo ./tests/bin/install-woocommerce.sh ${{ matrix.wc_ver }}

      - name: Run phpunit
        run: ./vendor/bin/phpunit -c phpunit.xml
        env:
          WP_TESTS_DIR: "/tmp/wordpress-tests-lib"
          WC_VERSION: ${{ matrix.wc_ver }}
